*{
  font-family:Georgia,"Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
  letter-spacing: 1px;
}
.blog-unit {
}
.blog-unit a{
  font-size: 25px;
  text-decoration: none;
}

.blog-container{
  margin-top: 50px;
}

.blog-body{
  font-size: 16px;
  font-family:Georgia,"Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}
.blog-title{
  font-size:25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
