.block-info{
  max-width:310px;
  height:336px;
  margin:30px auto;
  border:1px solid rgba(147, 147, 147, 0.5);
  #background-color: rgba(148, 144, 147, 0.5);
  #border-radius: 10px;
  box-shadow:0 2px 5px rgba(0,0,0,.75);
}

.block-info-header{
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  height:150px;
  #background-color: #337ab7;
  text-align: center;
  color:white;
  word-spacing: 8px;
  letter-spacing: 3px;
  overflow: hidden;
}

.block-info-header img{
  width:100%;
  display:block;
  vertical-align: middle;
  margin:auto;
}
.block-info-body-title{
  text-align: center;
  margin:10px auto;
}
.block-info-body-title a{
  font-size: 25px;
  text-align: center;
  color:#3272aa;
  text-decoration: none;
}

.block-info-body-title a:hover{
  color:#23527c;
}

.block-info-body-content{
  text-align: left;
}

.block-info-body{
  color:rgba(7, 8, 7, 0.77);
  text-align:center;
  padding:10px 20px;
  line-height: 23px;
  font-size: 16px;
  word-spacing: 10px;
  letter-spacing: 2px;
  font-family: '微软雅黑';
}
.title{
  margin: 30px 0 0 15px;
  padding: 0;
  background-color: rgba(164, 50, 60, 0.9);
  line-height: 40px;
  text-align: center;
  color: white;
  #border-top-left-radius: 20px;
  height:40px;
  box-shadow:2 0px 5px rgba(0,0,0,.75);
  letter-spacing: 2px;
}
.hr-divider{
  height: 0px;
  width:100%;
  margin-left: 15px;
  border: 3px solid rgba(164, 50, 60, 0.9);
  box-shadow:0 2px 5px rgba(0,0,0,.75);
}

.link-container{
    border: 1px solid rgba(55, 162, 171, 1);
    background-color: rgba(133, 205, 62, 0.6);
    text-align: center;
    margin-top: 30px;
}

.link-container-top{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.link-container-bottom{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
}

.link-container a{
  line-height: 50px;
  min-height: 50px;
  color: rgb(217, 133, 36);
  font-size: 25px;
}
